<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Nombre de Usuario</label>
      <input id="username" formControlName="username" type="text">
    </div>
    <div>
      <label for="password">Contraseña</label>
      <input id="password" formControlName="password" type="password">
    </div>
    <div *ngIf="loginError" class="error">
      Usuario o contraseña incorrectos
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
  </form>
</div>





  
